.icon {
  width: 20px;
  height: 20px;
}

mat-toolbar {
    
    display: grid;
    grid-template-columns: 1fr 60% 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "menu title title title tvShare search";
    background-color: #95CC29;
    padding: 10px 0;
   
}

mat-icon {
  margin-right: 10px;
}
.sidenav{
  background-color: #95CC29;
}

.nav-list-a {
  color: #222222;
  font-size: 1.1rem;
 
}

ul {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
 
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  
}


.menu {
  grid-area: menu;

}

.title {
  grid-area: title;
  font-size: 1.2rem;
  text-align: center;

}

.tvShare {
  grid-area: tvShare;
  margin-right: 10px;

}

.search {
  grid-area: search;
  margin-right: 10px;
 
} 

.searchBox {
  background-color:#95CC29  ;
  border: none;
  color: white !important;
  padding: 5px;
  margin-left: 55px;
  font-size: 1.1rem;
}

.marginIcon {
  margin-top: 5px;
  margin-left: 10px
}

.searchDiv {
  display: flex;
}