<!-- <ul>
    <li><img class="menu icon" src="../../assets/images/menu.svg" alt="menu" /></li>
    <li><p class="title">Titulo: Peliculas</p></li>
    <li><img class="tvShare icon" src="../../assets/images/screen.svg" alt="tvIcon" /></li>
    <li> <img class="search icon" src="../../assets/images/search.svg" alt="search" /></li>
</ul> 
 -->

<mat-sidenav-container>
    <!-- // MAT-SIDENAV: Barra navegación de la izquierda con el toogle -->
        <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/peliculas']">Películas</a>
        <a mat-list-item [routerLink]="['/series']">Series</a>
        <a mat-list-item href="#">Cerrar sesión</a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- // MAT-SIDENAV-CONTENT: Botones de barra navegacion de siempre -->
  <mat-sidenav-content>
    <!--in here all the content must reside. We will add a navigation header as well-->
    <mat-toolbar>
      <div>
        <button class="menu" mat-icon-button  (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <li><p class="title">{{title}}</p></li>
      <li>
        <img
          class="tvShare icon"
          src="../../assets/images/screen.svg"
          alt="tvIcon"
        />
      </li>
      <li>
        <img
          class="search icon"
          src="../../assets/images/search.svg"
          alt="search"
        />
      </li>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
